/*? FOOTER  */
footer {
    text-align: center;
    position: fixed;
    bottom: 0rem;
    width: 100%;
    font-size: 0.8rem;
    color: #626262;
    background-color: #ffffffb6;
    backdrop-filter: blur(5px);
    padding: .4rem 0;
  }
  